## ðŸ“Š Customer Complaint Intelligence â€” NLP & Trend Analysis

This notebook analyzes customer complaints and call logs to discover recurring issues and detect trends over time. The emphasis is on extracting meaningful keywords and two-word phrases (bigrams) from free-text complaint descriptions so we can understand what customers actually complain about (e.g., "hidden charges").

Key steps you'll see below:
- Load data from a local MySQL database into pandas.
- Basic cleaning and deduplication of records.
- Extract top single-word keywords (after removing stopwords).
- Build and rank bigrams (meaningful 2-word phrases) to add context.
- Group and analyze counts by category and by month to see trends.

Notes: examples in this notebook are safe to run in a local environment with access to the database and the required Python packages.

### Quick run & syntax check

A few quick notes to run and validate this notebook locally:

- Ensure your Python environment has the required packages (pandas, sqlalchemy, pymysql, nltk, matplotlib, seaborn, plotly if needed).
- This notebook reads from a local MySQL database â€” verify the connection string and credentials before running cells that connect to the DB.
- To run the whole notebook headlessly (execute all cells) you can use:

```powershell
jupyter nbconvert --to notebook --execute --inplace "Customer_Complaint_Intelligence..ipynb"
```

- If you prefer to check single cells interactively, open the notebook in Jupyter / VS Code and run the cells in order. Watch for missing packages or DB connectivity issues.

### Environment & setup

This notebook depends on commonly used Python packages â€” pandas, sqlalchemy (for DB access), nltk (for text processing), and matplotlib / seaborn for visualization. If you haven't installed these packages in your environment, install them before running the notebook.

The following code cell installs matplotlib (optional) â€” if you're running locally in a notebook environment you can run it once to make sure the plotting libraries are available.

In [1]:
### Environment & setup

# This notebook depends on commonly used Python packages â€” pandas, sqlalchemy (for DB access), nltk (for text processing), and matplotlib / seaborn for visualization. If you haven't installed these packages in your environment, install them before running the notebook. The next cell installs matplotlib (optional).

!pip install matplotlib
!pip install pymysql

Requirement already satisfied: matplotlib in c:\users\yashp\miniconda3\lib\site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\yashp\miniconda3\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\yashp\miniconda3\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\yashp\miniconda3\lib\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\yashp\miniconda3\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\yashp\miniconda3\lib\site-packages (from matplotlib) (2.3.3)
Requirement already satisfied: packaging>=20.0 in c:\users\yashp\miniconda3\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\yashp\miniconda3\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\yashp\miniconda3\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\yashp\miniconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\yashp\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: pymysql in c:\users\yashp\miniconda3\lib\site-packages (1.1.2)

In [2]:
import pandas as pb 
import pymysql
import numpy as nu
import sqlalchemy 
from collections import Counter
import nltk
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
nltk.download('stopwords')
from urllib.parse import quote_plus
import numpy as nu
import sqlalchemy 
from collections import Counter
import nltk
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
nltk.download('stopwords')
from urllib.parse import quote_plus

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\yashp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\yashp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
password = quote_plus("Yash@1234")
engine = sqlalchemy.create_engine(f"mysql+pymysql://root:{password}@127.0.0.1:3306/project_1")

Step 1 â€” Load & clean data

Read the raw tables from the local database and replace missing values with sensible placeholders. This helps downstream text processing avoid nulls and simplifies grouping and counting.

In [4]:
fd = pb.read_sql_table("complaints" , engine , schema="project_1")

fd = fd.fillna("unknown_issue")

In [5]:
pf = pb.read_sql_table("call_logs" , engine , schema="project_1")
pf = pf.fillna("issue not given")

In [6]:
df = pb.read_sql_table("user_info" , engine , schema="project_1")
df = df.drop_duplicates(subset=['customer_id'])

## merging three table in one table

In [7]:
temp = fd.merge(df , how = "outer")

In [8]:
final_table = temp.merge(pf , how = "outer")
final_table

,case_id,customer_id,issue_text,created_at,category,name,city,call_id,issue_summary,agent_id,call_duration
0,4-938000036198,36198,unknown_issue,2024-01-15 09:23:45,Authentication Failure,Aarav Sharma,Mumbai,p1000000000993233001,issue not given,101,45.50
1,4-938000041257,41257,unknown_issue,2024-01-16 14:35:12,Authentication Failure,Priya Patel,Delhi,p1000000000993233002,issue not given,102,32.25
2,4-938000052189,52189,unknown_issue,2024-01-17 11:47:33,Disconnected Call,Rohan Kumar,Bangalore,p1000000000993233003,issue not given,103,28.75
3,4-938000067423,67423,unknown_issue,2024-01-18 16:52:19,Authentication Failure,Ananya Gupta,Chennai,p1000000000993233004,issue not given,104,51.20
4,4-938000078365,78365,unknown_issue,2024-01-19 10:15:27,Disconnected Call,Vikram Singh,Kolkata,p1000000000993233005,issue not given,105,36.80
...,...,...,...,...,...,...,...,...,...,...,...
92,4-938000958714,958714,issue with business account,2024-04-17 10:35:53,Business Account,Neha Sharma,Bhopal,p1000000000993233093,Business account administrative control panel ...,193,407.35
93,4-938000969825,969825,made a wrong payment,2024-04-18 13:50:29,Transaction Issue,Vikram Patel,Indore,p1000000000993233094,Incorrect payment transfer with funds sent to ...,194,268.00
94,4-938000970936,970936,money debited but bill not paid,2024-04-19 08:05:46,Transaction Issue,Anjali Mehta,Thane,p1000000000993233095,Bill payment completed but utility service not...,195,311.65
95,4-938000981047,981047,unable to make payment,2024-04-20 15:25:32,Payment Issue,Raj Malhotra,Navi Mumbai,p1000000000993233096,External application compatibility issue not r...,196,183.30
96,4-938000992158,992158,issue with other app,2024-04-21 12:40:27,Unrelated Issue,Priya Joshi,Kalyan,p1000000000993233097,Payment processing system complete service dis...,197,255.95

Data merge and quick QA

The three tables (complaints, call_logs, user_info) were merged into a single `final_table` for analysis. We keep an eye out for duplicates and missing values â€” this provides a single source of truth for later NLP and trend analysis.

Note about the dataset

This notebook contains modified / example data for demonstration purposes. Treat the results as illustrative unless you're running against a production database.

These are the most commonly used terms in customer issue text (we'll refine them by removing stopwords and building meaningful bigrams).

### What we'll do next
We'll extract the most frequently used *single words* and *bigrams* from `issue_text` after removing stopwords. The output variables you can use are:
- `Most_Common_terms` â€” top single words (dataframe with Keyword / frequency)
- `Most_Common_pairs` â€” top bigram pairs (dataframe with 2-word phrase / Frequency)

Later we'll compute category counts and monthly top issues so results can be plotted or reported.

In [9]:
stop_words_list = stopwords.words('english')
stop_words_list.extend(["issue", "problem", "error" , "make" ,"add" , "made" , "open" , "paid","go","unable","money","wrong",])
all_word = final_table["issue_text"].str.split(" ", expand=True).stack()
clean_word = all_word[~all_word.isin(stop_words_list)]
Most_Common_terms = clean_word.value_counts()

#rename the coloum 

Most_Common_terms = Most_Common_terms.reset_index( name ='frequency')
Most_Common_terms = Most_Common_terms.rename(columns={'index' : 'Keyword'})
Most_Common_terms

          Keyword  frequency
0         payment         35
1         account         20
2         receive         14
3          hidden         10
4         charges         10
5          cancel         10
6         autopay         10
7            bank         10
8        business         10
9     application          9
10        debited          8
11  unknown_issue          5
12      merchants          4
13           bill          4
14         device          2
15          debit          2
16            app          2

Bigrams: why and how

Bigrams are two-word phrases built from adjacent meaningful tokens (after removing stopwords). They provide better context than single words â€” for example, "payment failed" is far more useful than just "payment". The code below constructs these bigrams, explodes them into separate rows, and counts frequencies to produce a leaderboard of common 2-word issues.

In [10]:
def get_clean_word(text):
    words = text.split()
    meaningful_words=[w for w in words if w.lower() not in stop_words_list]
    return [" ".join(pair) for pair in zip (meaningful_words, meaningful_words[1:])]
clean_bigrams = final_table["issue_text"].apply(get_clean_word).explode()
Most_Common_pairs = clean_bigrams.value_counts()

Most_Common_pairs = Most_Common_pairs.reset_index(name = 'Frequency')
print(Most_Common_pairs)

          issue_text  Frequency
0    receive payment         14
1     hidden charges         10
2     cancel autopay         10
3       bank account         10
4   business account         10
5  debited merchants          4
6  merchants receive          4
7       debited bill          4
8       debit device          2

Drop noisy/unhelpful row

A single row (index 8) looks like an artefact or meaningless placeholder. We drop it to keep the list of top bigrams clean. If you'd prefer not to drop anything, skip this cell.

In [11]:
Most_Common_pairs = Most_Common_pairs.drop(Most_Common_pairs.index[8])
Most_Common_pairs

          issue_text  Frequency
0    receive payment         14
1     hidden charges         10
2     cancel autopay         10
3       bank account         10
4   business account         10
5  debited merchants          4
6  merchants receive          4
7       debited bill          4

In [12]:

def clean_data(Most_Common_pairs):
    # Capitalize the first character in column: 'issue_text'
    Most_Common_pairs['issue_text'] = Most_Common_pairs['issue_text'].str.title()
    return Most_Common_pairs

Most_Common_pairs_clean = clean_data(Most_Common_pairs.copy())
Most_Common_pairs_clean.head()

         issue_text  Frequency
0   Receive Payment         14
1    Hidden Charges         10
2    Cancel Autopay         10
3      Bank Account         10
4  Business Account         10

This code groups the data in 'final_table' by the 'category' column
and counts the number of customer issues (case_id) in each category

In [13]:
Issue = final_table.groupby("category").aggregate(count_of_customer_issue = ("case_id", 'count'))
Issue

                        count_of_customer_issue
category
Account Issue                                20
Authentication Failure                        3
Business Account                             10
Disconnected Call                             2
Payment Issue                                31
Technical Issue                               9
Transaction Issue                            20
Unrelated Issue                               2

Monthly trend analysis â€” top issue per month

To spot trends over time we extract the month from the `created_at` timestamp, build the `issue_pairs` column and compute monthly counts. We then find the top-ranked issue (bigram) for each month â€” useful for tracking rising or seasonal problems.

In [14]:
final_table['month'] = final_table['created_at'].dt.month

In [15]:
monthly_issue = final_table.groupby(['month'])

In [16]:
final_table['issue_pairs'] = final_table['issue_text'].apply(get_clean_word)
df_explore = final_table.explode('issue_pairs')

monthly_counts = df_explore.groupby(['month', 'issue_pairs']).size().reset_index(name='count')


monthly_counts = monthly_counts.sort_values(['month', 'count'], ascending=[True, False])


top_issue_per_month = monthly_counts.groupby('month').head(1)


print(top_issue_per_month)

    month      issue_pairs  count
0       1     bank account      1
8       2   cancel autopay      4
22      3  receive payment      6
30      4  receive payment      3


So we can see that receive payment occuring two time in two rows so we can make them in one row

Next â€” call duration analysis

We will identify which issues cause customers to spend the most time on support calls. The plan is to use the call duration column (for example `call_duration` or `duration_seconds`), group records by  `category`, compute the average and total call time, then rank and visualize the top issues by mean call duration. This helps prioritize problems that consume the most support time.

In [43]:
result = final_table.groupby("category").aggregate(call_duration_by_topic = ("call_duration", 'mean')).sort_values("call_duration_by_topic", ascending=False)
result['call_duration_by_topic (Hours)' ] = result['call_duration_by_topic'] / 60
print("Call duration by category:")
print(result.round(2))

Call duration by category:
                        call_duration_by_topic  call_duration_by_topic (Hours)
category
Business Account                        411.80                            6.86
Transaction Issue                       303.23                            5.05
Payment Issue                           302.01                            5.03
Account Issue                           278.23                            4.64
Unrelated Issue                         256.52                            4.28
Technical Issue                         193.46                            3.22
Authentication Failure                   42.98                            0.72
Disconnected Call                        32.78                            0.55

Business Account issues take the longest time to resolve - nearly 7 hours on average. This is much higher than other problem categories.

Transaction and Payment issues also take about 5 hours each, showing these are complex areas where users need significant help.

Technical problems and simple issues take much less time (around 3-4 hours), suggesting these are easier to solve.


'Users struggle most with Business Accounts' - the processes are likely too complicated, confusing, or poorly explained. This is where people get stuck and need the most support.

Transaction and Payment systems also cause significant confusion, indicating these workflows need simplification.

The easiest areas for users are Technical issues and general account questions, which take the least time to resolve.